<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Onboarding App</title>
  <!-- Reset CSS -->
  <link rel="stylesheet" href="assets/style/style.css">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/jass.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div>
    <header>
      <h1>Employee Onboarding App</h1>
       <div>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="btn m-5" href="/">Homepage</a>
        <a class="btn m-5" href="/onboarding">Your Onboarding Documents</a>
        <button id="logout">Logout</button>
        {{/if}}
      </div>
    </header>
    <main>
            {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div class = "container">
</body>

</html>