<div class="row">
  <div class="col s3 offset-s2 left valign-wrapper" >
    <div>
      <h5>Enter Your Login </h5>
      <form class="form login-form">
        <div class="form-floating mb-3">
        <input type ="email" class ="form-control" id = "email-login" placeholder = "name@example.com">
        <label for ="floatingInput">Email address</label>
        </div>

        <div class = "form-floating mb-3">
          <input type ="password" class ="form-control" id ="password-login" placeholder="Password">
          <label for "floatingPassword">Password</label>
        </div>

        <div class="form-group">
          <button class="waves-effect waves-light btn red darken-2" type="submit">Sign In</button>
        </div>

      </form>
    </div>
  </div>
  <div class="col s6">
    <img class="responsive-img" src="https://kissflow.com/wp-content/uploads/2018/04/850x450_Onboarding-01.png" alt = "Onboard">
  </div>
</div>
<script src="./js/login.js"></script>


